[submodule "backend/frontbook-cli"]
	path = backend/frontbook-cli
	url = https://github.com/akasia-dev/frontbook-cli.git
	branch = main
[submodule "frontend/frontbook-conti"]
	path = frontend/frontbook-conti
	url = https://github.com/akasia-dev/frontbook-conti.git
	branch = main
